/.idea/
/base-domains/.mvn/
/base-domains/mvnw
/base-domains/mvnw.cmd
/email-service/.mvn/
/email-service/mvnw
/email-service/mvnw.cmd
/order-service/.mvn/
/order-service/mvnw
/order-service/mvnw.cmd
/stock-service/mvnw
/stock-service/mvnw.cmd
/stock-service/.mvn/
/base-domains/base-domains.iml
/email-service/email-service.iml
/order-service/order-service.iml
/stock-service/stock-service.iml
/stock-service/target/
/order-service/target/
